{% extends "base_with_nav.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">Add Publication</h4>

        <div class="row">
            <div class="col-xl">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4 class="mb-0">Create Publication</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            
                            <div class="mb-3">
                                <label class="form-label" for="{{ form.author_names.id_for_label }}">{{ form.author_names.label }}</label>
                                {% render_field form.author_names|add_class:"form-control"|attr:"placeholder:Names of All Authors" %}
                            </div>
                            
                            <div class="mb-3">
                                <label class="form-label" for="{{ form.title_reference.id_for_label }}">{{ form.title_reference.label }}</label>
                                {% render_field form.title_reference|add_class:"form-control"|attr:"placeholder:Title and Reference in IEEE Style"|attr:"rows:3" %}
                            </div>
                            
                            <div class="mb-3">
                                <label class="form-label" for="{{ form.publication_type.id_for_label }}">{{ form.publication_type.label }}</label>
                                {% render_field form.publication_type|add_class:"form-control"|attr:"placeholder:Type of Publication/Conference etc." %}
                            </div>
                            <div class="col-6">
                                    <label class="form-label" for="{{ form.publication_choice.id_for_label }}">{{ form.publication_choice.label }}</label>
                                    <div class="input-group input-group-merge">
                                        <span class="input-group-text"><i class="bx bx-code"></i></span>
                                        {% render_field form.publication_choice|add_class:"form-control"|attr:"placeholder:Publication Choice" %}
                                    </div>
                            </div>
                            
                            <div class="row justify-content-end">
                                <button type="submit" class="btn btn-primary col-2" id="formsubmit">{% if object %}Update{% else %}Create{% endif %} Publication</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% if not object %}
            <div class="row">
                <div class="col-xl">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="mb-0">Add Using Google Scholar</h4>
                        </div>
                        <div class="card-body">
                            <form method="POST" action="{% url 'google-publication' pk %}">
                                {% csrf_token %}
                                
                                <div class="mb-3">
                                    <label class="form-label" for="{{ form.author_names.id_for_label }}">Google Scholar Profile ID</label>
                                    <input type="text" class="form-control" name="google_profile_id" placeholder="Enter Google Scholar Profile ID Here..">
                                </div>
                                                    
                                <div class="row justify-content-end">
                                    <button type="submit" class="btn btn-primary col-2" id="formsubmit">Add All</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="mb-0">Add Using JUIT PUB</h4>
                        </div>
                        <div class="card-body">
                            <form method="POST" action="{% url 'juit-publication' pk %}">
                                {% csrf_token %}
                                
                                <div class="mb-3">
                                    <label class="form-label" for="{{ form.author_names.id_for_label }}">JUIT Profile ID</label>
                                    <input type="text" class="form-control" name="faculty_id" placeholder="Enter JUIT Profile ID Here..">
                                </div>
                                                    
                                <div class="row justify-content-end">
                                    <button type="submit" class="btn btn-primary col-2" id="formsubmit">Add All</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    
    
</div>


{% endblock content %}
