{% extends "base_with_nav.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">Knowledge Resources</h4>

        <div class="row">
            <div class="col-xl">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4 class="mb-0">Add Knowledge Resources</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label class="form-label" for="{{ form.course_code.id_for_label }}">{{ form.course_code.label }}</label>
                                    <div class="input-group input-group-merge">
                                        <span class="input-group-text"><i class="bx bx-code"></i></span>
                                        {% render_field form.course_code|add_class:"form-control"|attr:"placeholder:Course Code" %}
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12">
                                    <label class="form-label" for="{{ form.resources_consulted.id_for_label }}">{{ form.resources_consulted.label }}</label>
                                    {% render_field form.resources_consulted|add_class:"form-control"|attr:"placeholder:Resources Consulted"|attr:"rows:3" %}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12">
                                    <label class="form-label" for="{{ form.resources_prescribed.id_for_label }}">{{ form.resources_prescribed.label }}</label>
                                    {% render_field form.resources_prescribed|add_class:"form-control"|attr:"placeholder:Resources Prescribed"|attr:"rows:3" %}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12">
                                    <label class="form-label" for="{{ form.additional_resources_provided.id_for_label }}">{{ form.additional_resources_provided.label }}</label>
                                    {% render_field form.additional_resources_provided|add_class:"form-control"|attr:"placeholder:Additional Resources Provided"|attr:"rows:3" %}
                                </div>
                            </div>

                            <div class="row justify-content-end">
                                <button type="submit" class="btn btn-primary col-2" id="formsubmit">Add Knowledge Resources</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
