{% extends "base_with_nav.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms/</span> Appraisal</h4>
      <!-- Basic Layout -->
      <div class="row">
        <div class="col-xl">
          <div class="card mb-4">

            <form method="POST" action="{% url 'createmainform' %}">
                {% csrf_token %}
            <div class="card-header d-flex justify-content-between align-items-center">
              <h4 class="mb-0">Basic Info</h4>
              <small class="text-muted float-end">"USE THIS"</small>
            </div>
            <div class="card-body">
              
                <div class="row mb-3"> 
                    <div class="col-6">
                        <label class="form-label" for="{{ form.department.id_for_label }}">{{form.department.label}}</label>
                        <div class="input-group input-group-merge">
                            <span id="{{ form.department.id_for_label }}" class="input-group-text"><i class="bx bx-buildings"></i></span>
                            {% render_field form.department|add_class:"form-control"|attr:"placeholder:Your Department" %}
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-6">
                        <label class="form-label" for="{{form.qualifications.id_for_label}}">{{form.qualifications.label}}</label>
                        <div class="input-group input-group-merge">
                            <span id="{{form.qualifications.id_for_label}}" class="input-group-text"><i class="bx bx-buildings"></i></span>
                            {% render_field form.qualifications|add_class:"form-control"|attr:"placeholder:Qualifications" %}
                        </div>
                        <span>{{form.qualifications.errors}}</span>
                    </div>
                    <div class="col-3">
                        <label class="form-label" for="{{form.present_designation.id_for_label}}">{{form.present_designation.label}}</label>
                        <div class="input-group input-group-merge">
                            <span id="{{form.present_designation.id_for_label}}" class="input-group-text"><i class="bx bx-buildings"></i></span>
                            {% render_field form.present_designation|add_class:"form-control"|attr:"placeholder:Present Designation" %}                            
                        </div>
                        <span>{{form.present_designation.errors}}</span>
                    </div>
                    <div class="col-3">
                        <label class="form-label" for="{{form.date_of_joining.id_for_label}}">{{form.date_of_joining.label}}</label>
                        <div class="input-group input-group-merge">
                            <span id="{{form.date_of_joining.id_for_label}}" class="input-group-text"><i class="bx bx-buildings"></i></span>
                            {% render_field form.date_of_joining|add_class:"form-control"|attr:"placeholder:06-06-2021" %}  
                        </div>
                        <span>{{form.date_of_joining.errors}}</span>
                    </div>
                </div>

                <div class="row mb-3"> 
                    <div class="col-6">
                        <label class="form-label" for="{{form.first_designation.id_for_label}}">{{form.first_designation.label}}</label>
                        <div class="input-group input-group-merge">
                            <span id="{{form.first_designation.id_for_label}}" class="input-group-text"><i class="bx bx-buildings"></i></span>
                            {% render_field form.first_designation|add_class:"form-control"|attr:"placeholder:First Designation" %}
                            
                        </div>
                        <span>{{form.first_designation.errors}}</span>
                    </div>

                    <div class="col-6">
                        <label class="form-label" for="{{form.present_pay_scale_and_pay.id_for_label}}">{{form.present_pay_scale_and_pay.label}}</label>
                        <div class="input-group input-group-merge">
                            <span id="{{form.present_pay_scale_and_pay.id_for_label}}" class="input-group-text"><i class="bx bx-buildings"></i></span>
                            {% render_field form.present_pay_scale_and_pay|add_class:"form-control"|attr:"placeholder:Present pay scale and Pay" %}
                        
                        </div>
                        <span>{{form.present_pay_scale_and_pay.errors}}</span>
                    </div>
                </div>

                <div class="row mb-3"> 
                    <div class="col-6">
                        <label class="form-label" for="{{form.areas_of_specialization.label}}">{{form.areas_of_specialization.label}}</label>
                        <div class="input-group input-group-merge">
                            <span id="{{form.areas_of_specialization.id_for_label}}" class="input-group-text"><i class="bx bx-buildings"></i></span>
                            {% render_field form.areas_of_specialization|add_class:"form-control"|attr:"placeholder:Areas of Specialization and Current Interest" %}
                           
                        </div>
                        <span>{{form.areas_of_specialization.errors}}</span>
                    </div>

                    <div class="col-6">
                        <label class="form-label" for="{{form.additional_qualifications.id_for_label}}">{{form.additional_qualifications.label}}</label>
                        <div class="input-group input-group-merge">
                            <span id="{{form.additional_qualifications.id_for_label}}" class="input-group-text"><i class="bx bx-buildings"></i></span>
                            {% render_field form.additional_qualifications|add_class:"form-control"|attr:"placeholder:Additional Qualification acquired during the year" %}
                            
                        </div>
                        <span>{{form.additional_qualifications.errors}}</span>
                    </div>
                </div>

                <div class="row mb-3"> 
                    <div class="col-6">
                        <label class="form-label" for="{{form.pursuing_higher_studies.id_for_label}}">{{form.pursuing_higher_studies.label}}</label>
                        <div class="input-group input-group-merge">
                            <span id="{{form.pursuing_higher_studies.id_for_label}}" class="input-group-text"><i class="bx bx-buildings"></i></span>
                            {% render_field form.pursuing_higher_studies|add_class:"form-control"|attr:"placeholder:Pursuing higher studies" %}
                            
                        </div>
                        <span>{{form.pursuing_higher_studies.errors}}</span>
                    </div>
                </div>
                
                <div class="row justify-content-end">
                    <button type="submit" class="btn btn-primary col-2" id="formsubmit">Save and Next</button>
                </div>
            </div>
        </form>
        </div>

          </div>
        </div>
      </div>


      
    </div>
{% endblock content %}

