{% extends "base_with_nav.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Self Appraisal Form /</span> ID: {{form.id}}</h4>

      <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Main Form</h5>
                <!-- Account -->
                <hr class="my-0" />
                <div class="card-body">
                <form id="formAccountSettings" method="POST" onsubmit="return false">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label class="form-label">1. Name:</label>
                            <input class="form-control" type="text" value="{{form.name.username}}" disabled/>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">2. Department:</label>
                            <input class="form-control" type="text" value="{{form.department}}" disabled/>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">3. Qualifications:</label>
                            <input class="form-control" type="text" value="{{form.qualifications}}" disabled/>
                        </div>

                        <div class="mb-3 col-md-6">
                            <label class="form-label">4. Present Designation:</label>
                            <input class="form-control" type="text" value="{{form.present_designation}}" disabled/>
                        </div>

                        <div class="mb-3 col-md-6">
                            <label class="form-label">5. University Joining Date:</label>
                            <input class="form-control" type="text" value="{{form.date_of_joining}}" disabled/>
                        </div>

                        <div class="mb-3 col-md-6">
                            <label class="form-label">6. First Designation:</label>
                            <input class="form-control" type="text" value="{{form.first_designation}}" disabled/>
                        </div>

                        <div class="mb-3 col-md-6">
                            <label class="form-label">7. Present Pay Scale & Pay:</label>
                            <input class="form-control" type="text" value="{{form.present_pay_scale_and_pay}}" disabled/>
                        </div>

                        <div class="mb-3 col-md-6">
                            <label class="form-label">8. Areas of Specialization and Current Interest:</label>
                            <textarea class="form-control" disabled/>{{form.areas_of_specialization_and_current_interest}}</textarea>
                        </div>

                        <div class="mb-3 col-md-6">
                            <label class="form-label">9. Additional Qualification acquired during the year (Give full details):</label>
                            <textarea class="form-control" disabled/>{{form.additional_qualifications}}</textarea>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">10. Pursuing Higher Studies (Give full details):</label>
                            <textarea class="form-control" disabled/>{{form.pursuing_higher_studies}}</textarea>
                        </div>
                    </div>
                    <div class="mt-2 row justify-content-end">
                        <a href="{% url 'updatemainform' form.id %}" class="btn btn-primary me-2 col-2">Edit</a>
                    </div>
                </form>
                </div>
                <!-- /Account -->
            </div>

            <div class="card mb-4">
                <h5 class="card-header">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            11. Orientation/Refresher Courses, Summer/Winter Schools, Faculty Development Programmes,
                            Conferences/Workshops Attended/Organized:
                        </div>
                        <div class="col-md-4 text-end">
                            <a href="{% url 'createevent' form.id %}" class="btn btn-primary">
                                <i class="bx bx-plus"></i> Add Event
                            </a>
                        </div>
                    </div>
                </h5>
                
                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>
                            <tr>
                            <th>Title</th>
                            <th>Sponsoring Agency</th>
                            <th>Organization</th>
                            <th>Place Held</th>
                            <th>Attended/Organized</th>
                            <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            {% if events  %}
                                {% for event in events %}
                                    <tr>
                                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{event.title}}</strong></td>
                                        <td>{{event.sponsoring_agency}}</td>
                                        <td>{{event.organization}}</td>
                                        <td>{{event.place_held}}</td>
                                        <td>
                                            <span class="badge bg-label-{% if event.attended_organized == "Organized" %}primary{% else %}info{% endif %} me-1">
                                                {{event.attended_organized}}
                                            </span>    
                                        </td>
                                        <td>
                                            <div class="row"> 
                                                <a class="col-2 " href="{% url 'update-event' form.id event.id %}"><i class="bx bx-edit-alt me-1"></i> </a>
                                                <a class="col-2" href="{% url 'delete-event' form.id event.id %}"><i class="bx bx-trash me-1"></i></a>
                                            </div>  
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="6" class="text-center">No Events Found</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-4">
                <h5 class="card-header">
                    <div class="col-md-8">
                        12. Teaching, Learning and Evaluation Activities
                    </div>
                </h5>
                <h6 class="card-header">12.1 Lectures/Tutorials/Practical’s/Projects/Seminars Conducted:</h6>
            </div>
            
            <div class="card mb-4">
                <h5 class="card-header d-flex justify-content-end align-items-center">
                    Add Courses (ODD SEM)
                    <button class="btn btn-primary ms-auto align-self-start" data-bs-toggle="modal" data-bs-target="#addEventModal">
                        <i class="bx bx-plus"></i> Add Courses
                    </button>
                </h5>
                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>
                            <tr>
                            <th>Title</th>
                            <th>Sponsoring Agency</th>
                            <th>Organization</th>
                            <th>Place Held</th>
                            <th>attended_organized</th>
                            <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            {% if events  %}
                            <tr>
                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Angular Project</strong></td>
                                <td>Albert Cook</td>
                                <td>JUIT</td>
                                <td>JUIT</td>
                                <td><span class="badge bg-label-primary me-1">Active</span></td>
                                <td>
                                    <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right position-static">
                                        <a class="dropdown-item" href="javascript:void(0);"
                                        ><i class="bx bx-edit-alt me-1"></i> Edit</a
                                        >
                                        <a class="dropdown-item" href="javascript:void(0);"
                                        ><i class="bx bx-trash me-1"></i> Delete</a
                                        >
                                    </div>
                                    </div>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="6" class="text-center">No Events Found</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-4">
                <h5 class="card-header d-flex justify-content-end align-items-center">
                    Add Courses (EVEN SEM)
                    <button class="btn btn-primary ms-auto align-self-start" data-bs-toggle="modal" data-bs-target="#addEventModal">
                        <i class="bx bx-plus"></i> Add Courses
                    </button>
                </h5>
                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>
                            <tr>
                            <th>Title</th>
                            <th>Sponsoring Agency</th>
                            <th>Organization</th>
                            <th>Place Held</th>
                            <th>attended_organized</th>
                            <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            {% if events  %}
                            <tr>
                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Angular Project</strong></td>
                                <td>Albert Cook</td>
                                <td>JUIT</td>
                                <td>JUIT</td>
                                <td><span class="badge bg-label-primary me-1">Active</span></td>
                                <td>
                                    <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right position-static">
                                        <a class="dropdown-item" href="javascript:void(0);"
                                        ><i class="bx bx-edit-alt me-1"></i> Edit</a
                                        >
                                        <a class="dropdown-item" href="javascript:void(0);"
                                        ><i class="bx bx-trash me-1"></i> Delete</a
                                        >
                                    </div>
                                    </div>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="6" class="text-center">No Events Found</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

            
        

          <div class="card">
            <h5 class="card-header">Delete Account</h5>
            <div class="card-body">
              <div class="mb-3 col-12 mb-0">
                <div class="alert alert-warning">
                  <h6 class="alert-heading fw-bold mb-1">Are you sure you want to delete your account?</h6>
                  <p class="mb-0">Once you delete your account, there is no going back. Please be certain.</p>
                </div>
              </div>
              <form id="formAccountDeactivation" onsubmit="return false">
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="accountActivation"
                    id="accountActivation"
                  />
                  <label class="form-check-label" for="accountActivation"
                    >I confirm my account deactivation</label
                  >
                </div>
                <button type="submit" class="btn btn-danger deactivate-account">Deactivate Account</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / Content -->

    <!-- Footer -->
    <footer class="content-footer footer bg-footer-theme">
      <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
          ©
          <script>
            document.write(new Date().getFullYear());
          </script>
          , made with ❤️ by
          <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">ThemeSelection</a>
        </div>
        <div>
          <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">License</a>
          <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">More Themes</a>

          <a
            href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
            target="_blank"
            class="footer-link me-4"
            >Documentation</a
          >

          <a
            href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
            target="_blank"
            class="footer-link me-4"
            >Support</a
          >
        </div>
      </div>
    </footer>
    <!-- / Footer -->

    <div class="content-backdrop fade"></div>
  </div>



{% endblock content %}