{% extends "base_with_nav.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms/</span> Appraisal</h4>
      <!-- Basic Layout -->
      <div class="row">
        <div class="col-xl">
          <div class="card mb-4">

            <form method="POST" action="{% url 'createform' %}">
                {% csrf_token %}
            <div class="card-header d-flex justify-content-between align-items-center">
              <h4 class="mb-0">Basic Info</h4>
              <small class="text-muted float-end">"USE THIS"</small>
            </div>
            <div class="card-body">
              
                <div class="row mb-3"> 
                    <div class="col-6">
                        <label class="form-label" for="{{ form.department.id_for_label }}">Department</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-company2" class="input-group-text"
                            ><i class="bx bx-buildings"></i
                            ></span>
                            {% render_field form.department|add_class:"form-control"|attr:"placeholder:Your Department" %}
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-6">
                        <label class="form-label" for="basic-icon-default-company">Qualifications:</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                            {% render_field form.qualifications|add_class:"form-control"|attr:"placeholder:Qualifications" %}
                        </div>
                    </div>
                    <div class="col-3">
                        <label class="form-label" for="basic-icon-default-company">Present designation:</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                            {% render_field form.present_designation|add_class:"form-control"|attr:"placeholder:Present Designation" %}

                        </div>
                    </div>

                    <div class="col-3">
                        <label class="form-label" for="basic-icon-default-company">Date of joining:</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                            {% render_field form.date_of_joining|add_class:"form-control"|attr:"placeholder:06-06-2021" %}
                        </div>
                    </div>
                </div>

                <div class="row mb-3"> 
                    <div class="col-6">
                        <label class="form-label" for="basic-icon-default-company">First Designation:</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                            {% render_field form.first_designation|add_class:"form-control"|attr:"placeholder:First Designation" %}
                        </div>
                    </div>

                    <div class="col-6">
                        <label class="form-label" for="basic-icon-default-company">Present pay scale and Pay:</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                            {% render_field form.present_pay_scale_and_pay|add_class:"form-control"|attr:"placeholder:Present pay scale and Pay" %}
                        </div>
                    </div>
                </div>

                <div class="row mb-3"> 
                    <div class="col-6">
                        <label class="form-label" for="basic-icon-default-company">Areas of Specialization and Current Interest:</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                            {% render_field form.areas_of_specialization|add_class:"form-control"|attr:"placeholder:Areas of Specialization and Current Interest" %}
                        </div>
                    </div>

                    <div class="col-6">
                        <label class="form-label" for="basic-icon-default-company">Additional Qualification acquired during the year (Give full details):</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                            {% render_field form.additional_qualifications|add_class:"form-control"|attr:"placeholder:Additional Qualification acquired during the year" %}
                        </div>
                    </div>
                </div>

                <div class="row mb-3"> 
                    <div class="col-6">
                        <label class="form-label" for="basic-icon-default-company">Pursuing higher studies:</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                            {% render_field form.pursuing_higher_studies|add_class:"form-control"|attr:"placeholder:Pursuing higher studies" %}
                        </div>
                    </div>
                </div>
              
            </div>

            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="mb-0">Teaching, Learning and Evaluation Activities</h4>        
            </div>

            <div class="card-body">
                
                    <div class="row mb-3"> 
                        <div class="col-6">
                            <label class="form-label" for="basic-icon-default-company">Learning methodology:</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                                {% render_field form.learning_methodology|add_class:"form-control"|attr:"placeholder:Learning methodology" %}
                            </div>
                        </div>

                        <div class="col-6">
                            <label class="form-label" for="basic-icon-default-company">Modifications in teaching:</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                                {% render_field form.modifications_in_teaching|add_class:"form-control"|attr:"placeholder:Modifications in teaching" %}
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3"> 
                        <div class="col-6">
                            <label class="form-label" for="basic-icon-default-company">Beyond syllabus:</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                                {% render_field form.beyond_syllabus|add_class:"form-control"|attr:"placeholder:Beyond syllabus" %}
                            </div>
                        </div>
                    </div>                
            
            </div>

            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="mb-0">Projects Guided, Contribution/Participation and Lectures Delivered</h4>
            </div>

            <div class="card-body">
                <form>
                    <div class="row mb-3"> 
                        <div class="col-6">
                            <label class="form-label" for="basic-icon-default-company">Projects guided:</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                                {% render_field form.projects_guided|add_class:"form-control"|attr:"placeholder:Projects guided" %}
                            </div>
                        </div>

                        <div class="col-6">
                            <label class="form-label" for="basic-icon-default-company">Students guided:</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                                {% render_field form.students_guided|add_class:"form-control"|attr:"placeholder:Students guided" %}
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3"> 
                        <div class="col-6">
                            <label class="form-label" for="basic-icon-default-company">Students extra curricular:</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                                {% render_field form.students_extra_curricular|add_class:"form-control"|attr:"placeholder:Students extra curricular" %}
                            </div>
                        </div>
                        <div class="col-6">
                            <label class="form-label" for="basic-icon-default-company">Departmental activities:</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                                {% render_field form.departmental_activities|add_class:"form-control"|attr:"placeholder:Departmental activities" %}
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3"> 
                        <div class="col-6">
                            <label class="form-label" for="basic-icon-default-company">Institute activities:</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                                {% render_field form.institute_activities|add_class:"form-control"|attr:"placeholder:Institute activities" %}
                            </div>
                        </div>
                        <div class="col-6">
                            <label class="form-label" for="basic-icon-default-company">Invited lectures:</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                                {% render_field form.invited_lectures|add_class:"form-control"|attr:"placeholder:Invited lectures" %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mb-3"> 
                        <div class="col-6">
                            <label class="form-label" for="basic-icon-default-company">Member of professional bodies:</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                                {% render_field form.member_of_professional_bodies|add_class:"form-control"|attr:"placeholder:Invited lectures" %}
                            </div>
                        </div>
                        <div class="col-6">
                            <label class="form-label" for="basic-icon-default-company">Any other information:</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                                {% render_field form.any_other_information|add_class:"form-control"|attr:"placeholder:Invited lectures" %}
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3"> 
                        <div class="col-6">
                            <label class="form-label" for="basic-icon-default-company">List of enclosures:</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                                {% render_field form.list_of_enclosures|add_class:"form-control"|attr:"placeholder:List of enclosures" %}
                            </div>
                        </div>
                    </div>
                

                    <div class="row justify-content-end">
                        <button type="submit" class="btn btn-primary col-2" id="formsubmit">Save and Next</button>
                    </div>
                
                
            </div>
        </form>
        </div>

          </div>
        </div>
      </div>


      
    </div>
{% endblock content %}

