{% extends "base.html" %}
{% load static %}

{% block main %}

     <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            {% comment %} <a href="{% url 'mainlogger:dashboard' %}" class="app-brand-link"> {% endcomment %}
              <img src="{% static 'img/logo.png' %}" width="50px"/>
              <span class="app-brand-text demo menu-text fw-bolder ms-3">Mac</span>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item {% if nbar == 'dashboard' %}active{% endif %}">
              {% comment %} <a href="{% url 'mainlogger:dashboard' %}" class="menu-link"> {% endcomment %}
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div >Dashboard</div>
              </a>
            </li>
          <li class="menu-item {% if nbar == 'dashboard-system' %}active{% endif %}">
              {% comment %} <a href="{% url 'mainlogger:dashboard-for-system' %}" class="menu-link"> {% endcomment %}
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div >Dashboard System</div>
              </a>
            </li>


            {% if request.user.is_staff %}
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Admin Options</span>
            </li>
            <!-- Tables -->
            <li class="menu-item {% if nbar == 'machine' %}active open{% endif %}">
              <a class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-layout"></i>
                <div data-i18n="Layouts">Machines</div>
              </a>

              <ul class="menu-sub">
                <li class="menu-item {% if nbar_sub == 'machine-list' %}active{% endif %}">
                  {% comment %} <a href="{% url 'mainlogger:list-machine' %}" class="menu-link"> {% endcomment %}
                    <div data-i18n="Without menu">All Machines</div>
                  </a>
                </li>
                <li class="menu-item {% if nbar_sub == 'machine-create' %}active{% endif %}">
                  {% comment %} <a href="{% url 'mainlogger:create-machine' %}" class="menu-link"> {% endcomment %}
                    <div data-i18n="Without menu">Create Machine</div>
                  </a>
                </li>
              </ul>
            </li>


          {% endif %}

          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="avatar avatar-online">
                      <img src="{% static 'img/logo.png' %}" alt="" class="w-px-40 h-auto rounded-circle">
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">

                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block">{{ request.user.username }}</span>
{#                            <small class="text-muted">Admin</small>#}
                          </div>
                        </div>
                      </a>
                    </li>
{#                    <li>#}
{#                      <div class="dropdown-divider"></div>#}
{#                    </li>#}
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Log Out</span>
                      </a>
                    </li>
                  </ul>
                </li>


              </ul>
            </div>
          </nav>

          <!-- / Navbar -->

            <!-- EveryThing Main HERE -->
            {% block content %}

            {% endblock content %}

            </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->

    </div>

{% endblock main %}