{% extends "base_with_nav.html" %}
{% load static %}

{% block content %}
<div class="content-wrapper">
    <!-- New Forms / Drafts -->
    <div class="container-xxl flex-1 container-p-y text-center">
        <h4 class="fw-bold py-3 mb-6"><span class="text-muted fw-light">New Forms /</span> Drafts</h4>
        <div class="card">
            <div class="table-responsive text-nowrap">
                <table class="table mx-auto">
                    <!-- Table header -->
                    <thead>
                        <tr>
                            <th>Form ID</th>
                            <th>Department</th>
                            <th>Present Designation</th>
                            <th>Present Pay</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {% if forms_drafted %}
                            {% for form in forms_drafted %}
                                <tr>
                                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ form.id }}</strong></td>
                                    <td>{{ form.department }}</td>
                                    <td>{{ form.present_designation }}</td>
                                    <td>{{ form.present_pay_scale_and_pay }}</td>
                                    <td><a href="{% url 'formdashboard' form.id %}" class="btn rounded-pill btn-outline-primary">Continue</a></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="5" class="text-center">No Drafted Form Found</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <!-- Forms Under Review -->
    <div class="container-xxl flex-1 container-p-y text-center">
        <h4 class="fw-bold py-3 mb-6">Under Review</h4>
        <div class="card">
            <div class="table-responsive text-nowrap">
                <table class="table mx-auto">
                    <thead>
                        <tr>
                            <th>Form ID</th>
                            <th>Department</th>
                            <th>Present Designation</th>
                            <th>Present Pay</th>
                            <th>Status</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {% if forms_under_review %}
                            {% for form in forms_under_review %}
                                <tr>
                                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ form.id }}</strong></td>
                                    <td>{{ form.department }}</td>
                                    <td>{{ form.present_designation }}</td>
                                    <td>{{ form.present_pay_scale_and_pay }}</td>
                                    <td>
                                        {% if not form.hod_approval %}
                                            <span class="badge rounded-pill bg-label-primary">HOD</span>
                                        {% elif not form.dean_approval %}
                                            <span class="badge rounded-pill bg-label-info">DEAN</span>
                                        {% elif not form.vc_approval %}
                                            <span class="badge rounded-pill bg-label-success">Vice Chancellor</span>
                                        {% endif %}
                                    </td>
                                    <td><a href="{% url 'formdashboard' form.id %}" class="btn rounded-pill btn-outline-primary">View</a></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="6" class="text-center">No Form Under Review</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- VC Approved Forms -->
    <div class="container-xxl flex-1 container-p-y text-center">
        <h4 class="fw-bold py-3 mb-6">VC Approved</h4>
        <div class="card">
            <div class="table-responsive text-nowrap">
                <table class="table mx-auto">
                    <thead>
                        <tr>
                            <th>Form ID</th>
                            <th>Department</th>
                            <th>Present Designation</th>
                            <th>Present Pay</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {% if forms_approved %}
                            {% for form in forms_approved %}
                                <tr>
                                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ form.id }}</strong></td>
                                    <td>{{ form.department }}</td>
                                    <td>{{ form.present_designation }}</td>
                                    <td>{{ form.present_pay_scale_and_pay }}</td>
                                    <td><a href="{% url 'formdashboard' form.id %}" class="btn rounded-pill btn-outline-primary">View</a></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="5" class="text-center">No VC Approved Form</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
