{% extends "base_with_nav.html" %}
{% load static %}

{% block content %}
          <div class="content-wrapper">
            <!-- Content -->

        <div class="container-xxl flex-1 container-p-y">
              <h4 class="fw-bold py-3 mb-6"><span class="text-muted fw-light">Forms For Review /</span> Drafts</h4>
            <!-- Basic Bootstrap Table -->
            <div class="card">

            <div class="table-responsive text-nowrap">
                <table class="table">
                <thead>
                    <tr>
                    <th>FORM ID</th>
                    <th>FACULTY NAME</th>
                    <th>DEPARTMENT</th>
                    <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% if draft_forms %}
                        {% for form in draft_forms %}
                            <tr>
                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{form.id}}</strong></td>
                                <td>{{form.name.username}}</td>
                                <td>{{form.department.name}}</td>
                                <td>
                                    <a href="{% url 'formreview:form_review' form.id %}" type="button" class="btn-sm rounded-pill btn-primary">View Form</a>  
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4" class="text-center">No Drafts Found</td>
                        </tr>
                    {% endif %}
                </tbody>
                </table>
            </div>
            </div>
            <!--/ Basic Bootstrap Table -->
            </div>

            </div>
            <!--/ Basic Bootstrap Table -->
            </div>
            </div>
{% endblock content%}